<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
<img src="data:image/jpg;base64,{{ img }}" alt="mel spectrum and waveform">
<figure>
    <figcaption>检测音频:</figcaption>
    <audio
        controls
        src="data:audio/wav;base64,{{ wav }}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>
<table>
<tr>
  <td>生气：</td>
  <td>{{ ang }}</td>
</tr>
<tr>
  <td>高兴：</td>
  <td>{{ hap }}</td>
</tr>
<tr>
  <td>中性：</td>
  <td>{{ neu }}</td>
</tr>
<tr>
  <td>悲伤：</td>
  <td>{{ sad }}</td>
</tr>
</table>
</body>
</html>